
<img src="images/Plan.png" width="100" height="100" align=left>


## **PACE: Plan**

**How can you best prepare to understand and organize the provided information?**
- Review the project scenario and dataset structure
- Clarify the meaning of “claim” and “opinion”
- Use `head()`, `info()`, and `describe()` to explore the data

**What codebooks or resources will help you?**
- Coursera example notebooks
- pandas and NumPy documentation
- Quick guides for data cleaning

**What else should you do before coding?**
- Review column names and data types
- Check for missing or unusual values
- Plan basic data cleaning steps (`fillna()`, `dropna()`, `astype()`)

<img src="images/Analyze.png" width="100" height="100" align=left>

## **PACE: Analyze**


**Is the available information enough to meet the project goal?**
- The data seems well-structured and suitable for initial analysis
- Some columns may need closer review for missing or unclear values

**How would you summarize the data and check min/max ranges?**
- Use `df.describe()` for summary stats
- Use `value_counts()` or `groupby()` for categorical columns
- Use `df.min()` and `df.max()` to check value ranges and outliers

**Do any averages look unusual? Can you describe interval data?**
- Compare averages to min/max values to spot outliers
- Use `boxplot` or z-scores to detect anomalies
- Review interval data (e.g., video length) for logical consistency

In [26]:
import pandas as pd
import numpy as np

In [27]:
data = pd.read_csv("tiktok_dataset.csv")

In [28]:
data.head(10)

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
5,6,claim,8972200955,35,someone shared with me that gross domestic pro...,not verified,under review,336647.0,175546.0,62303.0,4293.0,1857.0
6,7,claim,4958886992,16,someone shared with me that elvis presley has ...,not verified,active,750345.0,486192.0,193911.0,8616.0,5446.0
7,8,claim,2270982263,41,someone shared with me that the best selling s...,not verified,active,547532.0,1072.0,50.0,22.0,11.0
8,9,claim,5235769692,50,someone shared with me that about half of the ...,not verified,active,24819.0,10160.0,1050.0,53.0,27.0
9,10,claim,4660861094,45,someone shared with me that it would take a 50...,verified,active,931587.0,171051.0,67739.0,4104.0,2540.0

**Question 1:** When reviewing the first few rows of the dataframe, what do you observe about the data? What does each row represent?

**Answer:** There are the column names showing up. And the first 10 rows claim_status value is "claim".

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19382 entries, 0 to 19381
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   #                         19382 non-null  int64
 1   claim_status              19084 non-null  object
 2   video_id                  19382 non-null  int64
 3   video_duration_sec        19382 non-null  int64
 4   video_transcription_text  19084 non-null  object
 5   verified_status           19382 non-null  object
 6   author_ban_status         19382 non-null  object
 7   video_view_count          19084 non-null  float64
 8   video_like_count          19084 non-null  float64
 9   video_share_count         19084 non-null  float64
 10  video_download_count      19084 non-null  float64
 11  video_comment_count       19084 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 1.8+ MB

**Question 2:** When reviewing the `data.info()` output, what do you notice about the different variables? Are there any null values? Are all the variables numeric? Does anything else stand out?


**Answer:** Yes I see that there must be null values because the non-null count for each is not the same. And no, all the variables are not numeric.

In [30]:
data.describe()

,#,video_id,video_duration_sec,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
count,19382.000000,1.938200e+04,19382.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000
mean,9691.500000,5.627454e+09,32.421732,254708.558688,84304.636030,16735.248323,1049.429627,349.312146
std,5595.245794,2.536440e+09,16.229967,322893.280814,133420.546814,32036.174350,2004.299894,799.638865
min,1.000000,1.234959e+09,5.000000,20.000000,0.000000,0.000000,0.000000,0.000000
25%,4846.250000,3.430417e+09,18.000000,4942.500000,810.750000,115.000000,7.000000,1.000000
50%,9691.500000,5.618664e+09,32.000000,9954.500000,3403.500000,717.000000,46.000000,9.000000
75%,14536.750000,7.843960e+09,47.000000,504327.000000,125020.000000,18222.000000,1156.250000,292.000000
max,19382.000000,9.999873e+09,60.000000,999817.000000,657830.000000,256130.000000,14994.000000,9599.000000

**Question 3:** When reviewing the `data.describe()` output, what do you notice about the distributions of each variable? Are there any questionable values? Does it seem that there are outlier values?

**Answer:**

In [31]:
# What are the different values for claim status and how many of each are in the data?
grouped_by_status = data.groupby("claim_status").describe()
grouped_by_status

                   #                                                   \
               count     mean          std     min       25%      50%
claim_status
claim         9608.0   4804.5  2773.735027     1.0   2402.75   4804.5
opinion       9476.0  14346.5  2735.629909  9609.0  11977.75  14346.5

                                video_id                ...  \
                   75%      max    count          mean  ...
claim_status                                            ...
claim          7206.25   9608.0   9608.0  5.627264e+09  ...
opinion       16715.25  19084.0   9476.0  5.622382e+09  ...

             video_download_count          video_comment_count              \
                              75%      max               count        mean
claim_status
claim                      2935.5  14994.0              9608.0  691.164863
opinion                      19.0    101.0              9476.0    2.697446


                      std  min   25%    50%    75%     max
claim_status
claim         1017.216834  0.0  68.0  286.0  886.0  9599.0
opinion          4.089288  0.0   0.0    1.0    3.0    32.0

[2 rows x 64 columns]

In [32]:
claim_mask = data["claim_status"] == "claim"

print(data[claim_mask]["video_view_count"].mean())
print(data[claim_mask]["video_view_count"].median())

opinion_mask = data["claim_status"] == "opinion"

print(data[opinion_mask]["video_view_count"].mean())
print(data[opinion_mask]["video_view_count"].median())

501029.4527477102
501555.0
4956.43224989447
4953.0

In [33]:
data.groupby(["claim_status", "author_ban_status"]).count()["#"]

claim_status  author_ban_status
claim         active               6566
              banned               1439
              under review         1603
opinion       active               8817
              banned                196
              under review          463
Name: #, dtype: int64

In [34]:
data.groupby("author_ban_status").count()["video_share_count"]

author_ban_status
active          15383
banned           1635
under review     2066
Name: video_share_count, dtype: int64

In [35]:
data.groupby(['author_ban_status']).agg(
    {'video_view_count': ['mean', 'median'],
     'video_like_count': ['mean', 'median'],
     'video_share_count': ['mean', 'median']})

                  video_view_count           video_like_count            \
                              mean    median             mean    median
author_ban_status
active               215927.039524    8616.0     71036.533836    2222.0
banned               445845.439144  448201.0    153017.236697  105573.0
under review         392204.836399  365245.5    128718.050339   71204.5

                  video_share_count
                               mean   median
author_ban_status
active                 14111.466164    437.0
banned                 29998.942508  14468.0
under review           25774.696999   9444.0

In [36]:
data["likes_per_view"] = data["video_like_count"] / data["video_view_count"]

data["comments_per_view"] = data["video_comment_count"] / data["video_view_count"]

data["shares_per_view"] = data["video_share_count"] / data["video_view_count"]
data

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count,likes_per_view,comments_per_view,shares_per_view
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0,0.056584,0.000000,0.000702
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0,0.549096,0.004855,0.135111
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0,0.108282,0.000365,0.003168
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0,0.548459,0.001335,0.079569
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0,0.622910,0.002706,0.073175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19377,19378,NaN,7578226840,21,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19378,19379,NaN,6079236179,53,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19379,19380,NaN,2565539685,10,NaN,verified,under review,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19380,19381,NaN,2969178540,24,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19381,19382,NaN,8132759688,13,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
data.groupby(['claim_status', 'author_ban_status']).agg(
    {'likes_per_view': ['count', 'mean', 'median'],
     'comments_per_view': ['count', 'mean', 'median'],
     'shares_per_view': ['count', 'mean', 'median']})

                               likes_per_view                      \
                                        count      mean    median
claim_status author_ban_status
claim        active                      6566  0.329542  0.326538
             banned                      1439  0.345071  0.358909
             under review                1603  0.327997  0.320867
opinion      active                      8817  0.219744  0.218330
             banned                       196  0.206868  0.198483
             under review                 463  0.226394  0.228051

                               comments_per_view                      \
                                           count      mean    median
claim_status author_ban_status
claim        active                         6566  0.001393  0.000776
             banned                         1439  0.001377  0.000746
             under review                   1603  0.001367  0.000789
opinion      active                         8817  0.000517  0.000252
             banned                          196  0.000434  0.000193
             under review                    463  0.000536  0.000293

                               shares_per_view
                                         count      mean    median
claim_status author_ban_status
claim        active                       6566  0.065456  0.049279
             banned                       1439  0.067893  0.051606
             under review                 1603  0.065733  0.049967
opinion      active                       8817  0.043729  0.032405
             banned                        196  0.040531  0.030728
             under review                  463  0.044472  0.035027